{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex h-screen justify-center p-4 items-center">
        {# set response widths for form#}
        <div class="w-2/6 max-md:w-5/6 bg-theme-form">
            <div class="p-4 bg-theme-form-header flex justify-center">
                <h1 class="font-headingText font-medium text-5xl text-theme-blue">Register</h1>
            </div>
            <div id="form_wrapper font-bodyText" class="p-2">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}

                    <button type="submit" class="w-full bg-theme-red p-2 text-white font-headingText">
                        SUBMIT</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
