{% extends 'base.html.twig' %}
{% block title %}Playlists{% endblock %}

{% block body %}
    <div class="flex flex-wrap h-screen justify-center items-center">
        <div class="relative h-auto w-3/4 lg:w-3/5">
            <input type="checkbox" id="create_playlist" class="peer hidden">
            <div id="playlist_selection" class="peer-checked:hidden">
                <div class="p-4 bg-theme-blue flex justify-center w-full rounded-tr-3xl">
                    <h1 class="font-headingText font-medium text-5xl text-theme-accent-1">My playlists</h1>
                </div>
                <div id="playlist_management_ribbon" class="bg-theme-accent-3 p-2 flex justify-center lg:justify-end">
                    <div class="flex justify-center lg:justify-between flex-wrap flex-col lg:flex-row">
                        <label for="create_playlist"
                               class="peer-checked:create_playlist bg-theme-red text-white font-headingText p-2">
                            <span>&#43;</span> Create playlist
                        </label>
                    </div>
                </div>
                <div id="playlist_wrapper" class="z-10 p-4 bg-theme-form rounded-bl-3xl w-full">
                    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
                        {% for playlist in ownedPlaylists %}
                            <li class="pb-3 sm:pb-4 pt-3 sm:pt-4">
                                <div class="flex items-center flex flex-col lg:flex-row justify-around">
                                    <div class="flex-shrink-0 w-1/5 text-center">
                                        Name: {{ playlist.name }}
                                    </div>
                                    <div class="flex-shrink-0 w-1/5 text-center">
                                        Songs: {{ playlist.songs.count }}
                                    </div>
                                    <div class="flex-shrink-0 w-1/5 text-center">
                                        Shared: {{ playlist.sharedUsers.count }}
                                    </div>
                                    <div class="lg:w-1/5">
                                        <form class="flex justify-center" method="post"
                                              action="/playlists/{{ playlist.id }}">
                                            <button type="submit"
                                                    class="bg-theme-red text-white font-headingText p-2 h-full self-end">
                                                view Playlist
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="add_playlist_menu" class="hidden peer-checked:block">
                <div class="p-4 bg-theme-blue flex justify-center w-full rounded-tr-3xl">
                    <h1 class="font-headingText font-medium text-5xl text-theme-accent-1">Create a playlist</h1>
                </div>
                <div id="playlist_management_ribbon" class="bg-theme-accent-3 p-2 flex justify-center lg:justify-end">
                    <label for="create_playlist"
                           class="peer-checked:create_playlist bg-theme-red text-white font-headingText p-2">
                        <span>&#8592;</span> Back to Playlists
                    </label>
                </div>
                <div id="form_wrapper" class="z-10 p-4 bg-theme-form rounded-bl-3xl w-full">
                    {{ form_errors(addPlaylistForm) }}

                    {{ form_start(addPlaylistForm) }}
                    {{ form_row(addPlaylistForm.name) }}
                    <button type="submit" class="w-full bg-theme-red p-2 text-white font-headingText">
                        SUBMIT
                    </button>
                    {{ form_end(addPlaylistForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
